name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: stable

      - name: Install Dependencies
        run: make install

      - name: Show Forge version
        run: |
          forge --version

      - name: Run Forge fmt (non-blocking) #ignore new format rules errors and keep code aligned with the origin audit
        run: |
          forge fmt --check
        continue-on-error: true
        id: fmt

      - name: Run Forge build (non-blocking) #ignore new lint rules errors and keep code aligned with the origin audit
        run: |
          forge build --sizes
        continue-on-error: true
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
